.home{
    font-size: 22px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.logo{
    width: 30px;
}
.love{
    width: 18px;
}
.badg{
    height: fit-content;
}